.satu{
overflow: scroll;
 height: 140px;
 width: 400px;
 line-height: 30px;
 background-color: aqua;
 font-size: 20px;
border: 10px dotted red;
padding: 10px;
}
.dua{
overflow: scroll;
 height: 140px;
 width: 400px;
 line-height: 30px;
 background-color: aqua;
 font-size: 20px;
border: 10px solid green;
padding: 10px;
}

.tiga{
overflow: scroll;
 height: 140px;
 width: 400px;
 line-height: 30px;
 background-color: aqua;
 font-size: 20px;
border: 20px dashed blue;
padding: 10px;
    }